html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffe6e6;
    font-family: 'Amatic SC', cursive;
    
}

#aboutbody {
    height: 100%;
    background-color: #ff9999;
    font-family: 'Amatic SC', cursive;
}

#gallerybody {
    height: 100%;
    background-color: #ffffff;
    font-family: 'Amatic SC', cursive;
}

.thumbnail-image {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 450px;
    height: 300px;
    margin: 100px;
    
}

a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image {
    width: 30px;
    margin: 15px;
}

.navbar {
display: flex;
justify-content: space-around;
font-family: 'Amatic SC', cursive;
font-size: 25px;
}

.header {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    color: #F2569D;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.footer {
    display: flex;
    justify-content: start;
}

.thumbnail {
    width: 100px;
    height: 100px;
}